@font-face {
	font-family: 'Saira Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Saira Regular'), url('@/assets/fonts/Saira/Regular.woff') format('woff');
}


@font-face {
	font-family: 'Saira Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Saira Medium'), url('@/assets/fonts/Saira/Medium.woff') format('woff');
}


@font-face {
	font-family: 'Saira SemiBold';
	font-style: normal;
	font-weight: normal;
	src: local('Saira SemiBold'), url('@/assets/fonts/Saira/SemiBold.woff') format('woff');
}


@font-face {
	font-family: 'Saira Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Saira Bold'), url('@/assets/fonts/Saira/Bold.woff') format('woff');
}


