$christmas-white: #F4F0BB;
$christmas-secondary: #226F54;
$christmas-accent: #DA2C38;
$christmas-primary: #43291F;
$christmas-background: #87C38F;

:export {
    white: $christmas-white;
    secondary: $christmas-secondary;
    accent: $christmas-accent;
    primary: $christmas-primary;
    background: $christmas-background;
}
