@import "./themes/pastel.module";
@import "./themes/default.module";
@import "./themes/christmas.module";

@mixin customScrollDefault {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: $default-primary;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $default-white;
        border-radius: 3px;
    }
}

@mixin customScrollPastel {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: $pastel-primary;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $pastel-white;
        border-radius: 3px;
    }
}

@mixin customScrollChristmas {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: $christmas-primary;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $christmas-white;
        border-radius: 3px;
    }
}
